{% extends "tests/base.html" %}
{% block scripts %}
    {% load staticfiles %}
    {% if test_data %}
    <script>
        var test_data = {{ test_data|safe }};
    </script>
    {% else %}
    <script>
        var test_data = '';
    </script>
    {% endif %}
    <script src="{% static "tests/scripts/createtest.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Názov testu" id="test_name" value="{{ test_name }}" />
            <div class="bg-danger" id="test_name_error"></div>
        </div>
    </div>
    <div id="tasks"></div>
    <br />
    <div class="row">
        <div class="text-center" style="float: none;">
            <button class="btn btn-default" id="add_task_text">Pridať textovú úlohu</button>
            <button class="btn btn-default" id="add_task_choice">Pridať úlohu s výberom možností</button>
        </div>
    </div>
    <div class="row">
        <div class="text-center" style="float: none;">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-default" id="submit_test" type="submit">Uložiť</button>
                <input type="hidden" name="test_data" id="test_data_hidden" />
                <input type="hidden" name="test_name" id="test_name_hidden" />
            </form>
        </div>
    </div>
{% endblock %}