{% extends "tests/base.html" %}
{% block scripts %}
    {% load staticfiles %}
    {% if test_data %}
    <script>
        var test_data = {{ test_data|safe }};
    </script>
    {% else %}
    <script>
        var test_data = '';
    </script>
    {% endif %}
    <script src="{% static "tests/scripts/taketest.js" %}"></script>
{% endblock %}

{% block content %}
    <h1 id="test_name">{{ test_name }}</h1>
    <div id="tasks"></div>
    <form method="post">
        {% csrf_token %}
        <button id="submit_test" class="btn btn-default" type="submit">Odovzdať</button>
        <input type="hidden" name="test_data" id="test_data_hidden" />
    </form>
{% endblock %}